html {
    scroll-behavior: smooth;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: beige;
    color: #333; /* Dark gray text */
    margin: 0;
    padding: 0;
}

/* Styles for main content */
main {
    background-color:#fff;
    padding: 20px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Light shadow effect */
}

/* Header styles */
header {
    background-color: #57886c; /* Forest green header background */
    color: #fff; /* White text */
    padding: 5px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
}

/* Navigation styles */
nav {
    background-color: #57886c; /* Forest green navigation background */
    padding: 5px;
    text-align: center;
    color: #fff; /* White text */
}

.nav-btn {
    background-color: #fff; /* White background */
    color: #2c6d48; /* Forest green text */
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1rem; /* Relative font size */
}

/* Button hover effect */
.nav-btn:hover {
    background-color: #b1ab8d;
    transform: scale(1.1);
}

header, nav {
    background-image: url('images/Full_Body/bg_image.jpg');
    background-size:cover;
    background-position: center;
}

/* Styles for exercise containers */
.exercise {
    display: flex; /* Use flexbox for flexible layout */
    flex-direction: column; /* Stack image and text vertically */
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center text */
}

.exercise p {
    padding: 0.5px;
    font-size: 0.9rem; /* Adjust font size for better readability */
}

.exercise img {
    max-width: 400px;
    height: auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0.5px solid black;
}

.exercise img:hover {
    filter: drop-shadow(10px 10px 16px #7e6c4d);
    transition: filter 0.3s ease;
}

.exercise img.clicked {
    filter: none; /* Remove the hover filter when the image is clicked */
}

.exercise-name {
    text-decoration: underline;
    font-weight: bold;
    font-weight: 550;
}

.video-instruction {
    color: rgb(15, 15, 198);
    margin-top: 0.2px;
}

.end-phrase {
    border: 2px solid #57886c; /* Forest green border */
    border-radius: 5px;
    border-block: #57886c;
    padding: 20px;
    text-align: center;
    margin-top: 20px; /* Adjust as needed */
    font-weight: bold;
    font-size: 1.5rem;
    color: #333; /* Dark gray text */
    font-family: 'Times New Roman', Times, serif;
    background-color: beige;
}

.back-to-top-btn {
    background-color: #6d7977;
    color:  #fff; /* White background */
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    transition: background-color 0.3s ease;
    bottom: 20px;
    right: 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.back-to-top-btn:hover {
    transition: filter 0.3s ease;
    transform: scale(1.1);
    background-color:  #b1ab8d;
}

.back-to-top-btn::before {
  content: "▲";
  margin-right: 5px;
}

.back-to-top-btn:hover::before {
  content: "↑";
}

/* Media query for mobile devices */
@media (max-width: 600px) {
    .nav-btn {
        display: block;
        width: 100%;
        margin: 5px 0; /* Add margin between each button */
    }

    .exercise img {
        max-width: 100%;
    }

    .back-to-top-btn {
        font-size: 1.0rem; /* Relative font size */
    }
}

/* Define a class for fixed size images */
.fixed-size-image {
    width: auto; /* Adjust to desired width */
    height: auto; /* Adjust to desired height */
    object-fit: cover; /* This ensures the image covers the entire area while maintaining aspect ratio */
    border: 0.5px solid black;
}

.fixed-size-image:hover {
    filter: drop-shadow(10px 10px 16px #7e6c4d);
    transition: filter 0.3s ease;
}

.fixed-size-image.clicked {
    filter: none; /* Remove the hover filter when the image is clicked */
}